//funciones reutilizables (sombras, centrado).
@use 'sass:color';

// Sombras suaves
@mixin soft-shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

// Centrado flexible
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

