@use "/src/styles/variables" as *;

.footer {
  background-color: $color-background;
  padding: 2rem 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
}

.footer-left {
  .footer-brand {
    font-family: $font-heading;
    font-size: $font-h2;
    color: $color-dark;
    margin-bottom: 0.5rem;
  }

  .footer-text {
    font-size: $font-small;
    color: $color-dark;
  }
}

.footer-center {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .footer-link {
    text-decoration: none;
    color: $color-dark;
    font-weight: 600;
    font-family: $font-body;
    font-size: $font-small;

    &:hover {
      color: $color-olive;
    }
  }
}

.footer-right {
  text-align: right;

  @media (max-width: 768px) {
    text-align: center;
  }

  .footer-connect {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: $color-dark;
    font-family: $font-body;
  }

  .footer-icons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

    @media (max-width: 768px) {
      justify-content: center;
    }

    img {
      width: 26px;
      height: 26px;
      cursor: pointer;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
