@use "/src/styles/variables" as *;

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 320px;
  max-width: 90%;
  padding: 1.4rem 2rem;

  border-radius: $radius-base;
  font-size: $font-medium;
  font-family: $font-body;
  font-weight: 600;

  color: $color-dark;
  background-color: $color-white;

  box-shadow: 0 6px 24px rgba(0,0,0,0.25);
  z-index: 9999;

  animation: toast-fade-in-out 3s ease-in-out;
  text-align: center;
}

.toast--success {
  border-left: 8px solid $color-olive;
  background-color: $color-mint;
}

.toast--error {
  border-left: 8px solid #b91c1c;
  background-color: #ffe6e6;
}

@keyframes toast-fade-in-out {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}
