@use "../../styles/variables" as v;

.community-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: v.$color-background;
  max-width: 1200px;
  margin: 0 auto; 
}

.community-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.community-image {
  width: 100%;
  max-width: 450px;
  border-radius: v.$radius-base;
  box-shadow: v.$shadow-soft;
}

.community-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.community-title {
  font-family: v.$font-heading;
  font-size: v.$font-h2;
  color: v.$color-dark;
}

.community-highlights {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.community-card {
  background-color: v.$color-mint;
  padding: 1.4rem;
  border-radius: v.$radius-base;
  box-shadow: v.$shadow-soft;
}

.community-card-label {
  font-family: v.$font-subtitle;
  font-size: v.$font-large;
  color: v.$color-dark;
  margin-bottom: 0.4rem;
}

.community-card-text {
  font-family: v.$font-body;
  font-size: v.$font-body-size;
  color: v.$color-dark;
}

@media (max-width: 850px) {
  .community-section {
    flex-direction: column;
    text-align: center;
  }

  .community-image-wrapper {
    justify-content: center;
  }

  .community-highlights {
    align-items: center;
  }

  .community-card {
    width: 100%;
    max-width: 550px;
  }
}
